:root {
   --text: #f1f1f1;
} 
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: white;
}
#kalkulacka {
   width: 496px;
   margin: 0 auto;
   margin-top: 150px;
}
#displej {
   height:100px;
   width: 495px;
}
#tlacitka {
   display: grid;
   width: 495px;
   left: 50%;
   position: relative;
   transform: translate(-50%);
   grid-template-columns: repeat(4, 120px);
   gap: 5px;
}
#tlacitka input {
   width: 120px;
   height: 70px;
   border: 0;
   cursor: pointer;
   transition: .35s ease-in-out;
}
#tlacitka input:hover {
   background-color: black;
}
#container {
   position: relative;
   margin: 0 auto;
   width: 90%;
   max-width: 1500px;
}
.dark {
   background-color: rgb(21, 21, 21);
}
.bright {
   background-color: rgb(43, 43, 43);
}
.bg {
   background-color: rgb(60, 60, 60);
}
.other {
   background-color: rgb(133, 27, 27);
}
#display {
   width: 100%;
   position: relative;
   height: 100px;
   background-color: transparent;
   color: white;
   font-size: 30px;
   padding: 0 35px;
   text-align: right;
   letter-spacing: 5px;
}